body {
    background-image: url(resources/background.png);
    width: 99%;
    background-size: cover;
}

#heading {
    color:rgb(255, 145, 0);
    font-family: 'Comforter', cursive;
    font-size: 700%;
    margin-top: -0.5%;
    margin-left: -0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101%;
    height: 1.5em;
    background-image: url(resources/header-bg.png);
    background-size: cover;
}

input {
    display: inline-block;
    margin-left: 2%;
    height: 1.5em;
    width: 2%;
    position: relative;
}

label {
    background-color: rgb(70, 62, 62);
    color: rgb(198, 213, 255);
    display: inline-block;
    width: 20%;
    height: 22%;
    font-size: large;
    margin-top: 1%;
    margin-left: 35%
}

#label0 {
    margin-top: 0%;
}

#input4 {
}

#submitForm {
}

#button {
    width: 5%;
    margin-left: 45%;
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
}